body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

main .inner_container {
    flex: 1;
    display: flex;
    flex-direction: column;

}

main .inner_container > div {
    margin: 1rem 0;
}

main .inner_container .note-editor {
    margin-top: 0;
}

.note-editable {
    background: white;
}

label, p {
    margin-bottom: 1rem;
}

label span {
    display: block;
    margin-bottom: .5rem;
}

input, select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

select {
    padding: .5rem;
}

button  {
    display: inline-block;
    padding: .5rem 1rem;
    color: white;
    background: #548eaa;
    border: 1px solid #548eaa;
    margin: 1rem 0;
    border-radius: .25rem;
    transition: all .5s;
    font-size: 1rem;
}